<!DOCTYPE html>
<html>
<head>
	<!-- avoid ILLEGAL token - http://stackoverflow.com/questions/15237073/d3-js-uncaught-syntaxerror-unexpected-token-illegal#answer-15717101 -->
	<meta http-equiv="content-type" content="text/html; charset=UTF8">
	<script type="text/javascript" src='{{ url_for("bower", filename="d3/d3.js") }}'></script>
	<script type="text/javascript" src='{{ url_for("static", filename="chart.js") }}'></script>
</head>
<body>
	<h1>San-Francisco Police Department data</h1>
	<div id="main"></div>
	<label for='data-from'>From</label>
	<select onchange='handlers.dateFrom(event)' id='date-from'>
		<option value="0">jan</option>
		<option value="1">feb</option>
		<option value="2">may</option>
		<option value="3">apr</option>
		<option value="4">mar</option>
	</select>
	<label for='data-to'>To</label>
	<select onchange='handlers.dateTo(event)' id='date-to'>
		<option value="0">jan</option>
		<option value="1">feb</option>
		<option value="2">may</option>
		<option value="3">apr</option>
		<option value="4">mar</option>
	</select>
	<script type="text/javascript" src='{{ url_for("static", filename="eventListener.js") }}'></script>
</body>
</html>